body {
    background-color: paleturquoise;
}

#buttons {
    background-color: beige;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}

.button {
    margin: 15px;
}



