body {
    background-color: paleturquoise;
}

#display {
    background-color: pink;
    width: 200px;
}

#buttons {
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    justify-content: space-evenly;
}

.button {
    margin: 15px;
}

/* #zero {
    margin-left: auto;
}

#÷ {
    margin-left: auto;
}

#equals {
    flex-basis: 100%;
} */



