body {
    background-color: paleturquoise;
}

#buttons {
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    justify-content: space-evenly;
}

.button {
    margin: 15px;
}

#zero {
    margin-left: auto;
}

#÷ {
    margin-left: auto;
}



